html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#home {
    /*width: 100%;*/
    /*height: 802px;*/
    background: url("../img/home-picture.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.home-navigation {
    width:65.3125%;
    margin-left:15.3125%;
    margin-right: 19.375%;
    padding-top: 2.71875rem;
    /*padding-top: 43.50px;*/
    /*width:1045px;*/
    /*margin-left:245px;*/
    /*margin-right: 310px;*/
}

.home-navigation .logo {
    display: inline-block;
    font: 2.5rem "Pacifico Regular", sans-serif;
    /*font: 40px "Pacifico Regular", sans-serif;*/
    color: #ffffff;
    margin-right: 40.5%;
    vertical-align: middle;
    /*margin-right: 423px;*/
}

.home-navigation .logo-green {
    color: #1dde85;
    text-transform: uppercase;
    font-style: italic;
}

.home-navigation ul {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.home-navigation li {
    font-size: 0.875rem;
    /*font-size: 14px;*/
    display: inline-block;
    margin-right: 2.8571em;
    /*margin-right: 40px;*/
    padding: 1em 0;
    /*padding: 14px 0;*/
    vertical-align: middle;
    /*border-bottom: 1px solid #ffffff;*/
}

.home-navigation li a {
    font: 0.875rem "Roboto Light", sans-serif;
    /*font: 14px "Roboto Light", sans-serif;*/
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.home-navigation li:last-child {
    margin-right: 0;
}

.home-text {
    width: 57.5rem;
    /*width: 920px;*/
    margin: 0 auto;
    margin-top: 18.4375rem;
    padding-bottom: 16.9375rem;
    color: #ffffff;
    text-align: center;
    /*margin-top: 295px;*/
    /*margin-bottom: 271px;*/
}

.home-header {
    font: 3rem "Exo Regular", sans-serif;
    margin-bottom: 0.875em;
    /*font: 48px "Exo Regular", sans-serif;*/
    /*margin-bottom: 42px;*/
}

.home-header-bold {
    font: 3rem "Exo Black", sans-serif;
    /*font: 48px "Exo Black", sans-serif;*/
    color: #1dde85;
}

.home-text p {
    font: 1.125rem "Roboto", sans-serif;
    line-height: 2em;
    /*font: 18px "Roboto", sans-serif;*/
    /*line-height: 36px;*/
}

#service {
    width:73.125%;
    max-width:1170px;
    margin: 0 auto;
    padding-top: 7.75rem;
    /*width:1170px;*/
    /*padding-top: 124px;*/
}
.service-header {
    width:76.41%;
    margin: 0 auto;
    margin-bottom: 5.1875rem;
    text-align: center;
    /*width:894px;*/
    /*margin-bottom: 83px;*/
}

.service-header h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    margin-bottom: 2em;
    color: #454546;
    /*margin-bottom: 60px;*/
    /*font: 30px "Roboto Medium", sans-serif;*/
}

.service-header-bold {
    text-transform: uppercase;
    color: #1dde85;
}

#service p {
    font: 1.125rem "Roboto Thin", sans-serif;
    line-height: 1.66666em;
    color:#8f8e91;
    /*font: 18px "Roboto", sans-serif;*/
    /*line-height: 30px;*/
}

.service-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 4.8125rem;
    /*margin-bottom: 77px;*/
}


.service-item {
    width:30.5128%;
    padding: 2.225rem 0.9375rem 1.9375rem 0.9375rem;
    margin-bottom: 3.125rem;
    border: 1px solid #8f8e91;
    box-sizing: border-box;
    text-align: center;
    /*width:357px;*/
    /*padding: 35.6px 15px 31px 15px;*/
    /*margin-bottom: 50px;*/
}

.service-item h3 {
    font: 1.5rem "Roboto Medium", sans-serif;
    color: #454546;
    margin-bottom: 1.5833em;
    /*font: 24px "Roboto Medium", sans-serif;    */
    /*margin-bottom: 38px;*/
}

.service-item p {
    font: 0.875rem "Roboto Thin", sans-serif;
    line-height: 2.1429em;
    color:#8f8e91;
    /*font: 14px "Roboto Thin", sans-serif;*/
    /*line-height: 30px;*/
}

.service-item svg {
    width:2rem;
    height: 2rem;
    margin-bottom: 1.1619rem;
    /*width:32px;*/
    /*height: 32px;*/
    /*margin-bottom: 18.59px;*/
}

.cls-1 {
    fill: #454546;
    fill-rule: evenodd;
}

.service-meet-us {
    margin-bottom: 9.0625rem;
    /*margin-bottom: 145px;*/
}

.service-header {
    font: 1.875rem "Roboto Medium", sans-serif;
    margin-bottom: 2.6em;
    color: #454546;
    /*margin-bottom: 78px;*/
    /*font: 30px "Roboto Medium", sans-serif;*/
}

.photo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.photo-list-person {
    width:22.9915%;
    max-width:269px;
    position: relative;
}

.photo-person img {
    max-width: 100%;
}

.photo-text {
    position: absolute;
    bottom: 0;
    width:100%;
    max-width:269px;
    background: rgba(66, 66, 67, 0.94);
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

.photo-text h4 {
    font: 1.125rem "Roboto Regular", sans-serif;
    margin-bottom: 0.4444em;
    /*font: 18px "Roboto Regular", sans-serif;*/
    /*margin-bottom: 8px;*/
}

#service .photo-text p {
    font: 0.8755rem "Roboto Regular", sans-serif;
    /*font: 14px "Roboto Regular", sans-serif;*/
}

.photo-contacts {
    display: none;
}

#portfolio {
    width:73.125%;
    max-width:1170px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7rem;
    /*margin-bottom: 112px;*/
}

#portfolio h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    /*font: 30px "Roboto Medium", sans-serif;*/
    text-align: center;
    margin-bottom: 1.36666em;
    /*margin-bottom: 41px;*/
    color: #454546;
}
.portfolio-navigation {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.0625rem;
    /*margin-bottom: 49px;*/
}
.portfolio-navigation li {
    display: inline-block;
    margin-right: 2.8571em;
    font: 1.125rem "Roboto Light", sans-serif;
    /*font: 18px "Roboto Light", sans-serif;*/
    /*margin-right: 40px;*/
    padding: 0.4444em 0;
    /*padding: 8px 0;*/
}

.portfolio-navigation li a {
    text-decoration: none;
    font: 1.125rem "Roboto Light", sans-serif;
    /*font: 18px "Roboto Light", sans-serif;*/
    color:#434243;
}

.portfolio-navigation li:last-child {
    margin-right: 0;
}

.portfolio-photoblock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 0;
}

.portfolio-photo {
    position: relative;
    width: 33.33333333333%;
    /*width: 390px;*/
    margin-bottom: 3.25rem;
    /*overflow: hidden;*/
    /*margin-bottom: 52px;*/
}

.portfolio-photo:before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.portfolio-photo img {
    /*max-width:100%*/
    /*width: 100%;*/
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    /*object-fit: cover;*/
}

/*.portfolio-photoblock img {*/
/*width: calc((100vw - 26.875%)/3);*/
/*height: calc((100vw - 26.875%)/3);*/
/*margin-bottom: 3.25rem;*/
    /*object-fit: cover;*/

/*!*margin-bottom: 52px;*!*/
/*}*/

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#portfolio .btn {
    background-color: #1dde85;
    font: 1.125rem "Roboto Light", sans-serif;
    /*font: 18px "Roboto Light", sans-serif;*/
    color:#fffcf4;
     padding: 1.055555em 3.3333333em;
    /*padding: 19px 60px;*/
}

#pricing {
    width:73.125%;
    max-width:1170px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10.375rem;
    /*margin-bottom: 166px;*/
}

#pricing h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    /*font: 30px "Roboto Medium", sans-serif;*/
    text-align: center;
    margin-bottom: 1.36666em;
    /*margin-bottom: 41px;*/
    color: #454546;
}

.pricing-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.pricing-plan {
    width:22.3932%;
    /*width:262px;*/
    font: 0.875rem "Roboto Regular", sans-serif;
    /*font: 14px "Roboto Regular", sans-serif;*/
    text-align: center;
    color: #8f8e91;
}

.pricing-plan h4 {
    margin-bottom:2.2857em;
    /*margin-bottom: 32px;*/
}

.pricing-plan .price {
    font: 2.25rem "RobotoSlab Regular", sans-serif;
    /*font: 36px "RobotoSlab Regular", sans-serif;*/
    text-align: center;
    color: #454546;
    padding: 0.5833em 2.3611em;
    /*padding: 21px 85px;*/
    border:1px solid #454546;
    margin-bottom: 0.8888em;
    /*margin-bottom: 32px;*/
}

.pricing-plan .price .price-up {
    font: 1.5rem "RobotoSlab Regular", sans-serif;
    /*font: 24px "RobotoSlab Regular", sans-serif;*/

}

.pricing-plan ul {
    margin-bottom: 3.3571em;
    /*margin-bottom: 47px;*/
}


.pricing-plan ul li {
    padding-bottom: 1.5714em;
    /*padding-bottom: 22px;*/
}

.pricing-plan ul li:last-child {
    padding-bottom: 0;
}

.pricing-plan .btn {
    background-color: #ffffff;
    color: #454546;
    font: 0.875rem "Roboto Regular", sans-serif;
    /*font: 14px "Roboto Regular", sans-serif;*/
    padding: 0.9286em;
    /*padding: 13px*/
    border: 1px solid #454546;
    box-sizing: border-box;
}

#contacts{
    background: url("../img/contacts-picture.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.4375rem 0;
    /*padding: 39px 0;*/
}










































