html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#home {
    background: url("../img/home-picture.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 3.875rem;
}

.home-navigation {
    width: 65.3125%;
    margin-left: 15.3125%;
    margin-right: 19.375%;
    padding-top: 2.71875rem;
}

.home-navigation .logo {
    display: block;
    float: left;
    font: 2.5rem "Pacifico Regular", sans-serif;
    color: #ffffff;
    vertical-align: middle;
}

.home-navigation .logo-green {
    color: #1dde85;
    text-transform: uppercase;
    font-style: italic;
}

.home-navigation ul {
    display: block;
    float: right;
    vertical-align: middle;
}

.home-navigation li {
    font-size: 0.875rem;
    display: inline-block;
    margin-right: 2.8571em;
    padding: 1em 0;
    vertical-align: middle;
    border-bottom: 1px solid transparent;
}

.home-navigation li a {
    font: 0.875rem "Roboto Light", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.home-navigation li:hover {
    border-bottom: 1px solid #1dde85;
}

.home-navigation li:hover a {
    color: #1dde85;
}

.home-navigation li:last-child {
    margin-right: 0;
}

.home-text {
    width: 50%;
    margin: 0 auto;
    margin-top: 18.4375rem;
    padding-bottom: 16.9375rem;
    color: #ffffff;
    text-align: center;
}

.home-header {
    font: 3rem "Exo Regular", sans-serif;
    margin-bottom: 0.875em;
}

.home-header-bold {
    font: 3rem "Exo Black", sans-serif;
    color: #1dde85;
}

.home-text p {
    font: 1.125rem "Roboto", sans-serif;
    line-height: 2em;
}

#service {
    width: 73.125%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 3.875rem;
    margin-bottom: 2.53125rem;
}

.service-header {
    width: 76.41%;
    margin: 0 auto;
    margin-bottom: 5.1875rem;
    text-align: center;
}

.service-header h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    margin-bottom: 2em;
    color: #454546;
}

.service-header-bold {
    text-transform: uppercase;
    color: #1dde85;
}

#service .service-header p {
    font: 1.125rem "Roboto Thin", sans-serif;
    line-height: 1.66666em;
    color: #8f8e91;
}

.service-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 4.8125rem;
    font-size: 1em;
}

.service-item {
    width: 30.5128%;
    padding: 2.225em 0.9375em 1.9375em 0.9375em;
    margin-bottom: 3.125em;
    border: 1px solid #8f8e91;
    box-sizing: border-box;
    text-align: center;
}

.service-item h3 {
    font: 1.5em "Roboto Medium", sans-serif;
    color: #454546;
    margin-bottom: 1.5833em;
}

.service-item p {
    font: 0.875em "Roboto Thin", sans-serif;
    line-height: 2.1429em;
    color: #8f8e91;
}

.service-item svg {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1.1619rem;
}

.cls-1 {
    fill: #454546;
    fill-rule: evenodd;
}

.service-item:hover {
    border: 1px solid #1dde85;
}

.service-item:hover .cls-1 {
    fill: #1dde85;
    fill-rule: evenodd;
}

.service-item:hover h3 {
    color: #1dde85;
}

.service-meet-us h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    margin-bottom: 2.6em;
    color: #454546;
}

.photo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.photo-list-person {
    width: 22.9915%;
    max-width: 269px;
    position: relative;
    margin-bottom: 2rem;
}

.photo-person img {
    max-width: 100%;
}

.photo-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 269px;
    background: rgba(66, 66, 67, 0.94);
    color: #fffcf4;
    font: 0.875rem "Roboto Regular", sans-serif;
    padding: 1em 0;
    text-align: center;
}

.photo-text h4 {
    font: 1.125rem "Roboto Regular", sans-serif;
}

#service .photo-text p {
    font: 0.875rem "Roboto Regular", sans-serif;
    color: #fffcf4;
}

.photo-contacts {
    display: none;
    position: absolute;
    left: 0;
    bottom: 2.9rem;
    width: 100%;
    border-top: 1px solid #fffcf4;
    border-bottom: 1px solid #fffcf4;
    z-index: 100;
    text-align: center;
}

.cls-2 {
    fill: #fff;
    fill-rule: evenodd;
}

.photo-contacts .social-btn {
    width: 1.625rem;
    height: 1rem;
    font-size: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.375rem;
    padding: 0.5625rem 0;
}

.footer-contacts .social-btn:last-child {
    margin-right: 0;
}

.footer-contacts .social-btn svg {
    display: inline-block;
    vertical-align: middle;
}

.photo-list-person:hover {
    position: relative;
}

.photo-list-person:hover .photo-focus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    right: -18px;
    bottom: -18px;
    left: -18px;
    background: rgba(47, 220, 140, 0.9);
}

.photo-list-person:hover .photo-text {
    position: static;
    background: none;
}

.photo-list-person:hover .photo-contacts {
    display: block;
}

.photo-contacts .social-btn:hover .cls-2 {
    fill: #8f8e91;
}

#portfolio {
    width: 73.125%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.5rem;
    padding-top: 3.53125rem;
}

#portfolio h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    text-align: center;
    margin-bottom: 1.36666em;
    color: #454546;
}

.portfolio-navigation {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.0625rem;
}

.portfolio-navigation li {
    display: inline-block;
    margin-right: 2.8571em;
    font: 1.125rem "Roboto Light", sans-serif;
    padding: 0.4444em 0;
    border-bottom: 1px solid transparent;
}

.portfolio-navigation li a {
    text-decoration: none;
    font: 1.125rem "Roboto Light", sans-serif;
    color: #434243;
}

.portfolio-navigation li:last-child {
    margin-right: 0;
}

.portfolio-navigation li:hover {
    border-bottom: 1px solid #1dde85;
}

.portfolio-navigation li:hover a {
    color: #1dde85;
}

.portfolio-photoblock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 0;
}

.portfolio-photo {
    position: relative;
    width: 33.33333333333%;
    margin-bottom: 3.25rem;
}

.portfolio-photo:before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.portfolio-photo img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#portfolio .btn {
    background-color: #1dde85;
    font: 1.125rem "Roboto Light", sans-serif;
    color: #fffcf4;
    padding: 1.055555em 0;
    width: 10.7777777em;
}

#pricing {
    width: 73.125%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 3.5rem;
    margin-bottom: 6.9375rem;
}

#pricing h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    text-align: center;
    margin-bottom: 1.36666em;
    color: #454546;
}

.pricing-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.pricing-plan {
    width: 22.3932%;
    font: 0.875rem "Roboto Regular", sans-serif;
    text-align: center;
    color: #8f8e91;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.pricing-plan h4 {
    margin-bottom: 2.2857em;
}

.price-wrapper {
    border: 1px solid transparent;
}

.pricing-plan .price {
    font: 1.125rem "RobotoSlab Regular", sans-serif;
    text-align: center;
    color: #454546;
    padding: 1.166666em 0;
    border: 1px solid #454546;
    margin-bottom: 1.77777em;
}

.pricing-plan .price .price-up {
    font: 1.5rem "RobotoSlab Regular", sans-serif;
}

.pricing-plan .price .price-bold {
    font: 2.25rem "RobotoSlab Regular", sans-serif;
}

.pricing-plan ul {
    margin-bottom: 3.3571em;
}

.pricing-plan ul li {
    padding-bottom: 1.5714em;
}

.pricing-plan ul li:last-child {
    padding-bottom: 0;
}

.pricing-plan .btn {
    width: 7em;
    color: #454546;
    font: 0.875rem "Roboto Regular", sans-serif;
    padding: 0.9286em 0;
    border: 1px solid #454546;
    box-sizing: border-box;
    margin-bottom: 1.5714em;
}

.pricing-plan:hover h4 {
    color: #1dde85;
}

.pricing-plan:hover .price-wrapper {
    border: 1px solid #1dde85;
}

.pricing-plan:hover .price {
    background-color: #1dde85;
    border-color: transparent;
    color: #fffcf4;
}

.pricing-plan:hover .btn {
    background-color: #1dde85;
    color: #fffcf4;
    border-color: transparent;
}

#contacts {
    background: url("../img/contacts-picture.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.4375rem 0;
}

#contacts h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    text-align: center;
    margin-bottom: 0.9em;
    color: #fffcf4;
    text-transform: uppercase;
}

.sayhi-form {
    width: 55.9375%;
    max-width: 895px;
    margin: 0 auto;
    text-align: center;
}

.sayhi-form fieldset {
    margin-bottom: 1.75rem;
    border: none;
}

.sayhi-form .form-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.sayhi-form input {
    width: 48.3798%;
    background: transparent;
    border: 1px solid #fffcf4;
    padding: 1.2857em;
    font: 0.875rem "Roboto Medium", sans-serif;
    margin-bottom: 0.9em;
    color: #fffcf4;
    box-sizing: border-box;
}

.sayhi-form textarea {
    width: 100%;
    background: transparent;
    border: 1px solid #fffcf4;
    padding: 1.2857em;
    box-sizing: border-box;
    font: 0.875rem "Roboto", sans-serif;
    color: #fffcf4;
    font-style: italic;
}

#contacts .sayhi-form-btn {
    width: 10.7777777em;
    background-color: #1dde85;
    font: 1.125rem "Roboto Light", sans-serif;
    color: #fffcf4;
    padding: 1.055555em 0;
    border-style: none;
    cursor: pointer;
}

.sayhi-form input:focus,
.sayhi-form textarea:focus {
    outline: none !important;
    border: 1px solid #2fdc8c;
}

footer {
    padding-top: 2.4375rem;
    background-color: #0b0a0a;
}

footer .container-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 73.125%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 4.375rem;
}

footer .container-center h4 {
    font: 1.125rem "Roboto Regular", sans-serif;
    color: #ffffff;
    margin-bottom: 1.111111em;
}

.footer-aboutus {
    width: 27.6068%;
}

.footer-aboutus p {
    font: 0.875rem "Roboto Regular", sans-serif;
    color: #8f8e91;
    line-height: 2.1429em;
    margin-top: -0.3em;
}

.footer-links {
    width: 17.4359%;
    min-width: 204px;
}

.footer-links table {
    width: 100%;
}

.footer-links td {
    padding-bottom: 12px;
}

.footer-links a {
    font: 0.875rem "Roboto Regular", sans-serif;
    color: #8f8e91;
    text-decoration: none;
}

.footer-links td:hover a {
    color: #2fdc8c;
}

.footer-contacts {
    width: 21.1966%;
}

.social-block {
    font-size: 0;
    margin-bottom: 1rem;
}

.footer-contacts .social-btn {
    width: 2.25rem;
    height: 2.25rem;
    border: 1px solid #8f8e91;
    font-size: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.footer-contacts .social-btn:last-child {
    margin-right: 0;
}

.footer-contacts .social-btn svg {
    display: inline-block;
    vertical-align: middle;
}

.centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer-contacts .social-btn:hover .cls-1 {
    fill: #1dde85;
    fill-rule: evenodd;
}

.footer-contacts .social-btn:hover {
    border-color: #1dde85;
}

.subscribe-form input {
    width: 100%;
    background: transparent;
    border: 1px solid #8f8e91;
    padding: 1em;
    font: 0.875rem "Roboto Regular", sans-serif;
    margin-bottom: 1rem;
    color: #8f8e91;
    box-sizing: border-box;
}

.subscribe-form .btn-subscribe-form {
    width: 6.5625em;
    background-color: #1dde85;
    font: 1rem "Roboto Light", sans-serif;
    color: #fffcf4;
    padding: .8125em 0;
    border-style: none;
}

.subscribe-form input:focus {
    outline: none !important;
    border: 1px solid #2fdc8c;
}

.footer-copyright {
    background-color: #000000;
    text-align: center;
}

.footer-copyright p {
    font: 0.875rem "Roboto Regular", sans-serif;
    color: #8f8e91;
    padding: 2.0714em 0;
}

@media screen and (max-width: 1400px) {
    .home-text {
        width: 70%

    }

    #service, #portfolio, #pricing, footer .container-center {
        width: 85%;
    }

    #home {
        margin-bottom: 1.875rem;;
    }

    .home-text {
        margin-top: 16.4375rem;
        padding-bottom: 14.9375rem;
    }

    #service {
        padding-top: 1.875rem;
        margin-bottom: 2.53125rem;;
    }

    .service-header {
        margin-bottom: 3.1875rem;
    }

    .service-header h2 {
        margin-bottom: 1em;
    }

    .service-item {
        margin-bottom: 2.125rem;
    }

    .service-list {
        margin-bottom: 2.8125rem;
    }

    #portfolio {
        margin-bottom: 1.5rem;
        padding-top: 1.53125rem;
    }

    .portfolio-photo {
        margin-bottom: 2.25rem;
    }

    #pricing {
        padding-top: 2.5rem;;
        margin-bottom: 2.9375rem;
    }

    .sayhi-form {
        width: 80%;
    }

    .footer-aboutus {
        width: 35%;
    }
}

@media screen and (max-width: 1215px) {
    html, body {
        font-size: 0.9rem;
    }

    .service-list {
        font-size: 1.3em;
    }

    .service-item {
        padding: 1em 0.5em 1em 0.5em;
        margin-bottom: 1em;
    }

    .service-item h3 {
        margin-bottom: 1em;
    }

    .service-item svg {
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 1100px) {
    #service, #portfolio, #pricing, footer .container-center {
        width: 90%;
    }

    .photo-list-person {
        width: 21%;
    }

    .footer-contacts {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {

    .home-navigation {
        width: 75%;
        margin: 0 auto;
    }

    #service, #portfolio, #pricing, footer .container-center {
        width: 90%;
    }

    .photo-text {
        padding: 0.5em 0;
    }
}

@media screen and (max-width: 875px) {
    .home-text {
        width: 80%;
    }

    #service {
        width: 80%;
    }

    .service-header {
        width: 90%;
    }

    .service-item {
        width: 45%;
    }

    .service-list {
        justify-content: space-around;
    }

    .photo-list {
        width: 80%;
        justify-content: space-around;
        margin: 0 auto;
    }

    .photo-list-person {
        width: 40%;
    }

    .portfolio-photoblock {
        width: 80%;
        margin: 0 auto;
    }

    .portfolio-photo {
        width: 50%;
    }

    .pricing-list {
        width: 80%;
        justify-content: space-around;
        margin: 0 auto;
    }

    .pricing-plan {
        width: 45%
    }

    .footer-contacts {
        width: 30%;
    }
}

@media screen and (max-width: 755px) {
    .home-navigation {
        width: 90%;
    }

    .home-navigation li {
        margin-right: 1.5em;
    }

    .home-text {
        width: 95%;
    }

    #service, #portfolio, #pricing {
        width: 90%;
    }

    .service-header {
        width: 100%;
    }

    .footer-aboutus {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer-links {
        width: 45%;
    }

    .footer-contacts {
        width: 45%;
    }

    footer .container-center {
        width: 85%;
        justify-content: center;
        padding-bottom: 2.375rem;
    }
}

@media screen and (max-width: 670px) {
    html, body {
        font-size: 0.85rem;
    }

    #service, #portfolio, #pricing {
        width: 95%;
    }

    .portfolio-navigation li {
        margin-right: 1.5em;
    }
}

@media screen and (max-width: 575px) {
    html, body {
        font-size: 0.8rem;
    }

    .portfolio-photoblock {
        width: 90%;
    }

    .pricing-list {
        width: 90%;
    }

    .pricing-plan {
        font-size: 1rem;
    }

    .pricing-plan .btn {
        font-size: 1rem;
    }

    .sayhi-form {
        width: 90%;
    }

    footer .container-center {
        width: 90%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 464px) and (min-width: 0px) {
    .page-container {
        min-width: 443px;
    }
}




































































