html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#home {
    height: 100vh;
    background: url("../img/home-picture.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.home-navigation {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    position: relative;
    z-index: 200;
}

.home-navigation .logo {
    display: block;
    float: left;
    font: 2rem "Pacifico Regular", sans-serif;
    color: #ffffff;
    height: 8vh;
    line-height: 8vh;
}

.home-navigation .logo-green {
    color: #1dde85;
    text-transform: uppercase;
    font-style: italic;
}

.home-navigation .menu-icon {
    display: block;
    float: right;
    width: 8vh;
    height: 8vh;
    background: url(../img/menu-icon.png) center no-repeat;
    display: inline-block;
}

.menu-wrapper {
    display:none;
    position: absolute;
    right: 1.5vh;
    top: 0vh;
    width: 40%;
    padding-top: 11vh;
    z-index: 100;
}

.menu-wrapper .mobile {
    display: block;
    padding: 3px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-align: center;
    background: black;
}

.menu-wrapper li {
    display: block;
    margin-right: 0;
    padding: 0.8em 0;
}

.menu-wrapper li a {
    font: 0.875rem "Roboto Light", sans-serif;
    text-transform: uppercase;
    color: #1dde85;
    text-decoration: none;
}

.home-navigation:hover .menu-wrapper {
    display: block;
}

.home-text-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    z-index: 1;
}

.home-text {
    width: 85%;
    color: #ffffff;
    text-align: center;
}

.home-header {
    font: 2rem "Exo Regular", sans-serif;
    margin-bottom: 0.875em;
}

.home-header-bold {
    font: 2rem "Exo Black", sans-serif;
    color: #1dde85;
}

.home-text p {
    font: 1rem "Roboto", sans-serif;
    line-height: 2em;
}

#service {
    width:90%;
    margin: 0 auto;
}

#service .home-navigation .logo,
.service-meet-us .home-navigation .logo,
#portfolio .home-navigation .logo,
#pricing .home-navigation .logo
{
    color: #454546;
    margin-bottom: 1em;
}

#service .home-navigation .menu-icon,
.service-meet-us .home-navigation .menu-icon,
#portfolio .home-navigation .menu-icon,
#pricing .home-navigation .menu-icon
{
    background: url(../img/menu-icon_grey.png) center no-repeat;
}

#service .menu-wrapper .mobile,
.service-meet-us .menu-wrapper .mobile,
#portfolio .menu-wrapper .mobile,
#pricing .menu-wrapper .mobile
{
    background: #ffffff;
    border: 1px solid #454546;
}

.service-header {
    width:100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}

.service-header h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    margin-bottom: 0.5em;
    color: #454546;
}

.service-header-bold {
    text-transform: uppercase;
    color: #1dde85;
}

#service .service-header p {
    font: 1.125rem "Roboto Thin", sans-serif;
    line-height: 1.66666em;
    color:#8f8e91;
}

.service-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1em;
}

.service-item {
    width:90%;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #8f8e91;
    box-sizing: border-box;
    text-align: center;
}

.service-item h3 {
    font: 1.5em "Roboto Medium", sans-serif;
    color: #454546;
    margin-bottom: 0.7em;
}

.service-item p {
    font: 0.9em "Roboto Thin", sans-serif;
    line-height: 2em;
    color:#8f8e91;
}

.service-item svg {
    width:2rem;
    height: 2rem;
}

.cls-1 {
    fill: #454546;
    fill-rule: evenodd;
}

.service-item:hover {
    border: 1px solid #1dde85;
}

.service-item:hover .cls-1 {
    fill: #1dde85;
    fill-rule: evenodd;
}

.service-item:hover h3 {
    color: #1dde85;
}

.service-meet-us h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    margin-bottom: 1em;
    color: #454546;
}

.photo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.photo-list-person {
    width:55%;
    max-width:269px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.photo-person img {
    max-width: 100%;
}

.photo-text {
    position: absolute;
    bottom: 0;
    width:100%;
    max-width:269px;
    background: rgba(66, 66, 67, 0.94);
    color: #fffcf4;
    font: 0.875rem "Roboto Regular", sans-serif;
    padding: 1em 0;
    text-align: center;
}

.photo-text h4 {
    font: 1.125rem "Roboto Regular", sans-serif;
}

#service .photo-text p {
    font: 0.875rem "Roboto Regular", sans-serif;
    color: #fffcf4;
}

.photo-contacts {
    display: none;
    position: absolute;
    left: 0;
    bottom:2.9rem;
    width: 100%;
    border-top:1px solid #fffcf4;
    border-bottom:1px solid #fffcf4;
    z-index: 100;
    text-align: center;
}

.cls-2 {
    fill: #fff;
    fill-rule: evenodd;
}

.photo-contacts .social-btn {
    width: 1.625rem;
    height: 1rem;
    font-size: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right:0.375rem;
    padding: 0.5625rem 0;
}

.footer-contacts .social-btn:last-child {
    margin-right: 0;
}

.footer-contacts .social-btn svg {
    display: inline-block;
    vertical-align: middle;
}

.photo-list-person:hover {
    position: relative;
}

.photo-list-person:hover .photo-focus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-18px;
    right: -18px;
    bottom: -18px;
    left:-18px;
    background: rgba(47, 220, 140, 0.9);
}

.photo-list-person:hover .photo-text {
    position: static;
    background: none;
}

.photo-list-person:hover .photo-contacts {
    display: block;
}

.photo-contacts .social-btn:hover .cls-2{
    fill: #8f8e91;
}

#portfolio {
    width:90%;
    max-width:1170px;
    margin: 0 auto;
    text-align: center;
}

#portfolio h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    text-align: center;
    margin-bottom: 0.7em;
    color: #454546;
}

.portfolio-navigation {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio-navigation li {
    display: inline-block;
    margin-right: 1em;
    font: 1.125rem "Roboto Light", sans-serif;
    padding: 0.4444em 0;
    width: 100%;
    border:1px solid #b7b7b7;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #d3d3d3, #707070);
    margin-bottom: 0.5rem;
}

.portfolio-navigation li a {
    text-decoration: none;
    font: 1.125rem "Roboto Light", sans-serif;
    color:#434243;
}

.portfolio-navigation li:last-child {
    margin-right: 0;
}

.portfolio-navigation li:hover a {
    color:#ffffff;
}

.portfolio-photoblock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 0;
    margin-bottom: 1rem;
}

.portfolio-photo {
    position: relative;
    width: 50%;
}

.portfolio-photo:before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.portfolio-photo img {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#portfolio .btn {
    background-color: #1dde85;
    font: 1.125rem "Roboto Light", sans-serif;
    color:#fffcf4;
    padding: 0.5em;
    width:8em;
    margin-bottom: 1rem;
}

#pricing {
    width:90%;
    max-width:1170px;
    margin: 0 auto;
    text-align: center;
}

#pricing h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    text-align: center;
    margin-bottom: 1.36666em;
    color: #454546;
}

.pricing-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.pricing-plan {
    width:70%;
    font: 0.875rem "Roboto Regular", sans-serif;
    text-align: center;
    color: #8f8e91;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.pricing-plan h4 {
    margin-bottom:1em;
}

.price-wrapper {
    border:1px solid transparent;
}

.pricing-plan .price {
    font: 1.125rem "RobotoSlab Regular", sans-serif;
    text-align: center;
    color: #454546;
    padding: 0.6em 0;
    border:1px solid #454546;
    margin-bottom: 1em;
}

.pricing-plan .price .price-up {
    font: 1.5rem "RobotoSlab Regular", sans-serif;
}

.pricing-plan .price .price-bold {
    font: 2.25rem "RobotoSlab Regular", sans-serif;
}

.pricing-plan ul {
    margin-bottom: 1.5em;
}

.pricing-plan ul li {
    padding-bottom: 1.5714em;
}

.pricing-plan ul li:last-child {
    padding-bottom: 0;
}

.pricing-plan .btn {
    width: 7em;
    color: #454546;
    font: 0.875rem "Roboto Regular", sans-serif;
    padding: 0.9286em 0;
    border: 1px solid #454546;
    box-sizing: border-box;
    margin-bottom: 1.5714em;
}

.pricing-plan:hover h4 {
    color: #1dde85;
}

.pricing-plan:hover .price-wrapper{
    border:1px solid #1dde85;
}

.pricing-plan:hover .price {
    background-color: #1dde85;
    border-color: transparent;
    color: #fffcf4;
}

.pricing-plan:hover .btn {
    background-color: #1dde85;
    color: #fffcf4;
    border-color: transparent;
}

#contacts{
    background: url("../img/contacts-picture.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

#contacts .menu-wrapper .mobile {
    background: #453f40;
    border: 1px solid #454546;
}

#contacts h2 {
    font: 1.875rem "Roboto Medium", sans-serif;
    text-align: center;
    margin-bottom: 0.9em;
    color: #fffcf4;
    text-transform: uppercase;
}

.sayhi-form {
    width:90%;
    max-width:895px;
    margin: 0 auto;
    text-align: center;
}
.sayhi-form fieldset {
    margin-bottom: 1.75rem;
}

.sayhi-form .form-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.sayhi-form input {
    width:48.3798%;
    background: transparent;
    border: 1px solid #fffcf4;
    padding: 1.2857em;
    font: 0.875rem "Roboto Medium", sans-serif;
    margin-bottom: 0.9em;
    color: #fffcf4;
    box-sizing: border-box;
}

.sayhi-form textarea {
    width:100%;
    background: transparent;
    border: 1px solid #fffcf4;
    padding: 1.2857em;
    box-sizing: border-box;
    font: 0.875rem "Roboto", sans-serif;
    color: #fffcf4;
    font-style: italic;
}

#contacts .sayhi-form-btn {
    width:9em;
    background-color: #1dde85;
    font: 1.125rem "Roboto Light", sans-serif;
    color:#fffcf4;
    padding: 0.5em 0;
    border-style: none;
    cursor: pointer;
    margin-bottom: 1.75rem;
}

.sayhi-form input:focus,
.sayhi-form textarea:focus {
    outline: none !important;
    border:1px solid #2fdc8c;
}

footer {
    padding-top: 1rem;
    background-color: #0b0a0a;
}

footer .container-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:90%;
    max-width:1170px;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

footer .container-center h4 {
    font: 1.125rem "Roboto Regular", sans-serif;
    color:#ffffff;
    margin-bottom: 1.111111em;
}

.footer-aboutus {
    width: 100%;
    margin-bottom: 1rem;
}

.footer-aboutus p {
    font: 0.875rem "Roboto Regular", sans-serif;
    color:#8f8e91;
    line-height:2.1429em;
    margin-top: -0.3em;
}

.footer-links {
    width: 100%;
    margin-bottom: 1rem;
}

.footer-links table {
    width: 100%;
}

.footer-links td {
    padding-bottom: 12px;
}

.footer-links a {
    font: 0.875rem "Roboto Regular", sans-serif;
    color:#8f8e91;
    text-decoration: none;
}
.footer-links td:hover a {
    color:#2fdc8c;
}

.footer-contacts {
    width: 100%;

}
.social-block {
    font-size: 0;
    margin-bottom: 1.5rem;
}

.footer-contacts .social-btn {
    width: 2.25rem;
    height: 2.25rem;
    border:1px solid #8f8e91;
    font-size: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right:0.5rem;
}

.footer-contacts .social-btn:last-child {
    margin-right: 0;
}


.footer-contacts .social-btn svg {
    display: inline-block;
    vertical-align: middle;
}

.centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer-contacts .social-btn:hover .cls-1 {
    fill: #1dde85;
    fill-rule: evenodd;
}

.footer-contacts .social-btn:hover {
    border-color:#1dde85;
}

.subscribe-form input {
    width: 100%;
    background: transparent;
    border: 1px solid #8f8e91;
    padding: 1em;
    font: 0.875rem "Roboto Regular", sans-serif;
    margin-bottom: 1rem;
    color: #8f8e91;
    box-sizing: border-box;
}

.subscribe-form .btn-subscribe-form {
    width:6.5625em;
    background-color: #1dde85;
    font: 1rem "Roboto Light", sans-serif;
    color:#fffcf4;
    padding: .8125em 0;
    border-style: none;
}

.subscribe-form input:focus  {
    outline: none !important;
    border:1px solid #2fdc8c;
}

.footer-copyright {
    background-color: #000000;
    text-align: center;
}

.footer-copyright p {
    font: 0.875rem "Roboto Regular", sans-serif;
    color: #8f8e91;
    padding: 1em 0;
}



